<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    Server time: <span th:text="${time}"/><br>
    Gold: <span th:text="${goldValue}"/><br><br>

    <p th:text="${knight.name}"/>
    <p th:text="${knight.age}"/>
    <p th:text="${knight.level}"/>
    <div class="row">
        <a href="/knights" class="btn btn-default">Back</a>
    </div>
</div>
</body>
</html>