body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
   	background: black;
}

p {
	color: white;
	font-size: 130px;
}

button {
	padding: 30px 60px;
  	border: none;
  	font-size: 40px;
   	cursor: pointer;
}

.greenMode:hover {
   	color: white;
 	background: #00a700;
   	transition: 0.7s;
}
